body {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.content {
    width: 100%;
}

.content-altura {
    background: #3498db;
}

.content-peso {
    background: #34495e;
}

.content-imc {
    padding: 20px 0;
    background: #fff;
}

.container {
    padding: 15px;
}



label {
    display: block;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

input {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border: none;
    font-family: "Oswald", sans-serif;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    background-color: transparent;
    color: #fff;
}

::-webkit-input-placeholder {
    opacity: 0.2;
    color: #fff;
}

.btn-imc {
    width: 100%;
    padding: 25px;
    font-family: "Oswald", sans-serif;
    font-size: 72px;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 6px 0px #245b3b;
    background-color: #27ae60;
    color: #fff;
}

.btn-imc:hover,
.btn-voltar:hover {
    cursor: pointer;
}

.btn-voltar {
    border: none;
    background-color: transparent;
}

.content-imc .container {
    display: flex;
    justify-content: center;
}

.resultado {
    margin-left: 38px;
}

.classificacao,
.valorIMC {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    color: #4a4a4a;
}

.classificacao {
    font-size: 24px;
}

.valorIMC {
    font-size: 50px;
}
