@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

body{
    font-family: 'Titillium Web', sans-serif;
    background: linear-gradient(90deg, #003469 10%, #24A8DC 90%);
}

a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 1px 1px #333;
}
a:before{
    padding: 0 10px;
    content: "➤";
    font-size: 30px;
    opacity: 0;
}

a:hover:before{
    opacity: 1;
}


