body{
    padding: 45px;
    background-color: #9b9b9b;
    font-family: 'Roboto', sans-serif;
}
.container{
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

/* Table */
.tblRelatorio{
    width: 100%;
    border-spacing: 0;
}
.tblRelatorio caption{
    padding: 20px;
    border-radius: 3px 3px 0px 0px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    background-color: #fff;
}

/* tHead */
.tblRelatorio thead{
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

/* tBody */
.tblRelatorio tbody{
    font-size: 13px;
    font-weight: 400;
}
.tblRelatorio tbody tr:hover{
    background-color: #eee;
}
.tblRelatorio thead tr th, .tblRelatorio tbody tr td{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1; 
}
 thead th:first-child, tbody td:first-child{
     width: 80px;
     text-align: center;
}

/* tFoot */
.tblRelatorio tfoot{
    font-size: 12px;
    font-weight: 400;
}
.tblRelatorio tfoot tr td{
    padding: 20px;
    text-align: right;
    color: #b1b1b1;
}
.tblRelatorio tfoot tr td select{
    border: none;
    color: #b1b1b1;
}
.tblRelatorio tfoot tr td span, .tblRelatorio tfoot tr td a{
    margin-left: 38px;
}