body{
    background-color: #9b9b9b;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 90px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
h2{
    padding-left: 15px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

/* Table */
.tblRelatorio{
    width: 100%;
    border-spacing: 0;
}

/* tHead */
.tblRelatorio thead{
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

/* tBody */
.tblRelatorio tbody{
    font-size: 13px;
    font-weight: 400;
}
.tblRelatorio tbody tr:hover{
    background-color: #eee;
}
.tblRelatorio thead tr th, .tblRelatorio tbody tr td{
   padding: 15px 22px;
    border-bottom: 1px solid #e1e1e1; 
}

/* tFoot */
.tblRelatorio tfoot{
    font-size: 12px;
    font-weight: 400;
}
.tblRelatorio tfoot tr td{
    padding: 20px;
    text-align: right;
    color: #b1b1b1;
}
.tblRelatorio tfoot tr td select{
    border: none;
    color: #b1b1b1;
}
.tblRelatorio tfoot tr td span, .tblRelatorio tfoot tr td a{
    margin-left: 38px;
}

/* Ocultar */
.ocultar{
    display: none;
}