/* 
    Criado em: 23/04/2017, 22:46:28
    Autor    : Gabriel Santos Cabral
    Descrição: Arquivo baseado na metodologia BEM, com algumas adaptações.
*/

body{
    font-family: 'Oswald', sans-serif;
}

.lista{
    margin: 0;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
    list-style: none;
}

.lista__item{
    padding: 60px 30px 60px 90px;
    margin-bottom: 3px;
   /* display: flex;
    align-items: center;
    justify-content:flex-start;*/
}

.lista__item--select{
    background: url('../img/icon-select.png') no-repeat left;
    background-color: #27ae60;
    background-position: 30px center;
}
.lista__item--select:hover{
    background-color: #52be7f;
}

.lista__item--deselect{    
    background: url('../img/icon-deselect.png') no-repeat left;
    background-color: #4a4a4a;
    background-position: 30px center;
}
.lista__item--deselect:hover{    
    background-color: #6e6e6e;
}

.lista__link{
    display: block;
    
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    background: url(../img/arrow-right.png) no-repeat right;
    color: #fff;
}
