body{
    font-family: 'Muli', sans-serif;
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*
|-------------------------------------------
| .BOX
|-------------------------------------------
*/
.box{
    width: 680px;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.27);
}

.box__header{
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    background-color: #fff;
}
.box__header-top{
    display: flex;
}
.box__header h1{
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #6e6f6f;
}
.box__header ul{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}
.box__header ul li{
    display: inline-block;
    list-style: none;
    font-size: 12px;
    font-weight: 400px;
    color: rgba(0,0,0,0.5);
}
li.active{
    font-weight: bold;
}

.close{
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #777879;
}
.close a{
   
}

.box__content{
    display: flex;
}


/*
|-------------------------------------------
| .BOX__CARTEIRA
|-------------------------------------------
*/
.box__carteira{
    width: 380px;
    padding: 20px;
    background-color: #fff;
}
.box__carteira h2{
    margin: 0px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #777879;
}
.box__carteira ul{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.box__carteira ul li{
    list-style: none;
    width: 110px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.box__carteira ul li:hover{
    border-radius: 3px;
    /*border: 1px solid #d1e2f6;*/
    box-shadow: 0px 0px 3px #d1e2f6 inset;
    background-color: #f5f9fd;
    cursor: pointer;
}
.box__carteira ul li small{
    font-size: 12px;
    font-weight: 400;
    color: #cbcbcb;
}




.box__carteira form{
    margin-top: 20px;
    padding: 0;
    text-align: center;
}
.box__carteira form fieldset{
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}
.box__carteira form fieldset legend{
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
    color: #777879;
}
.form__group{
    width: 270px;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
}
.form__input{
    width: 270px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #dedede;
    border-radius: 2px;
}
.form__input-ano{
    width: 140px;
    margin-right: 15px;
}
.form__input-cvc{
    width: 90px;
    float: right;
}
.form__group-checkbox{
    text-align: left;
    font-size: 14px;
    color: #777879;
}
::-webkit-input-placeholder{
    color: #c4cbd0;
}
.box__carteira form button{
    width: 290px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;    
    background-color: #84d654;
    color: #fff;
}
.box__carteira form button:hover{
    cursor: pointer;
}


/*
|-------------------------------------------
| .BOX__PRODUTOS
|-------------------------------------------
*/
.box__produtos{
    width: 300px;
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebebeb;
}
.box__produtos ul{
    margin: 0;
    padding: 0;
}
.box__produtos ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    list-style:none;
    border-bottom: 1px solid #dddcdd;
}
.box__produtos ul li:last-child{
    border: none;
}

.info__produtos{
    padding-left: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.info__produtos h5{
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 700;
    color: #777879;
}
.info__produtos small{
    margin-bottom: 3px;
    display: block;
    font-size: 10px;
    font-weight: 200;
    font-style: italic;
    color: #4a4a4a;
}
.info__produtos .info__quantidade{
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    color: #9c9c9c;
}
.box__produtos ul li span{
    font-size: 12px;
    font-weight: 700;
    color: #777879;
}

/* Tabela: Total da compra */
.total table{
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height:20px;
    color: #777879;
}
.total table tr{
    display: flex;
    justify-content: space-between;
}
.total table tbody tr:first-child{
    border-top: 1px solid #dddcdd;
}
.total table tbody tr:last-child{
    border-bottom: 1px solid #dddcdd;
}
.total table tfoot tr{
    font-weight: bold;
}